<h3>Create acc</h3>
<input 
  type="text"
  placeholder="email"
  [(ngModel)]="createEmail" 
>
<input 
  type="password"
  placeholder="password"
  [(ngModel)]="createPassword"
>
<button (click)="createAccount()">Create acc</button>
<hr>
<h3>Sign In</h3>
<input 
  type="text"
  placeholder="email"
  [(ngModel)]="signInEmail" 
>
<input 
  type="password"
  placeholder="password"
  [(ngModel)]="signInPassword"
>
<button (click)="signIn()" color="primary">Test Sign In</button>

<button (click)="testRoute()" color="light">Test Protected Route</button>

<button (click)="logout()" color="light">Test Logout</button>