<h3>Create acc</h3>
<input 
  type="text"
  placeholder="email"
  [(ngModel)]="createEmail" 
>
<input 
  type="password"
  placeholder="password"
  [(ngModel)]="createPassword"
>
<button (click)="createAccount()">Register</button>
<hr>

<h3>Sign In</h3>
<input 
  type="text"
  placeholder="email"
  [(ngModel)]="signInEmail" 
>
<input 
  type="password"
  placeholder="password"
  [(ngModel)]="signInPassword"
>
<button (click)="signIn()" color="primary">Sign In</button>

<button (click)="testRoute()" color="light">Test Guard</button>

<button (click)="logout()" color="light">Logout</button>
<hr>

<h3>Change Pswd</h3>
<input 
  type="password"
  placeholder="new password"
  [(ngModel)]="newPwd"
>
<br>
<button>Submit</button>